.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    .content-modal {
        background-color: wheat;
        margin: auto;
        padding: 20px;
        border: 1px solid #100000;
        width: 500px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        .close{
            width: 40px;
            height: 20px;
            background-color: darkred;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }
    }
}