.single {
    color: wheat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #100000;
    padding-top: 90px;
    min-height: 100vh;

    .single-container {
        margin: 50px 0;
        width: 80%;
        text-align: left;

        .single-wrapper {
            padding: 20px;
            border: 1px solid wheat;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 1.6;

                strong {
                    font-weight: bold;
                }

                span {
                    font-style: italic;
                }
            }
        }

        .back-button,
        .edit-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            text-decoration: none;
            color: wheat;
            background-color: #333;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #555;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}
